
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins';
    scroll-behavior: smooth;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12%;
}

.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .6s;
}

 .navbarSticky{
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,1);
}

.navbar .logo a{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    font-family: "Kaushan Script", serif;
    text-decoration: none;
}

.navbar .logo a span{
    color: rgb(121, 185, 0);
    font-family: "Kaushan Script", serif;
}

.navbar ul li{
    margin-left: 35px;
    display: inline-block;
}

.navbar ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: rgb(121, 185, 0);
    cursor: pointer;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-btn i{
    margin-right: 40px;
    color: rgb(121, 185, 0);
    font-size: 20px;
    cursor: pointer;
}

.navbar .ri-menu-line{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,128,0);
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    display: none;
}

.navbar .ri-menu-line:hover{
    background-color: rgba(121,185,0);
}
.img1{
    width: 10px;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    box-shadow: inset 5px 5px 10px rgb(142,224,142);
    background-color: rgb(121, 185, 0);
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: .6s;
}

button:hover{
    box-shadow: inset 5px 5px 10px rgb(121, 185, 0);
    background-color: rgba(0,128,0);
}

/* header section */

.header-wrapper{
    background: url('./assest/img/banner-bg.jpg'); 

    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 12%;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 60%;
    left: -2%;
    transform: rotate(270deg);
    gap: 20px;
}

.line{
    height: 1px;
    width: 50px;
    background-color: gray;
}

.social_icons{
    display: flex;
    align-items: center;
}

.social_icons i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(121, 185, 0);
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    transition: .6s;
}

.social_icons i:hover{
    cursor: pointer;
    background-color: rgba(0,128,0);
    color: #fff;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    height: 100%;
}

.header-content h2{
    color: rgb(121, 185, 0);
    font-weight: 400;
    font-size: 16px;
}

.header-content h1{
    color: #fff;
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 20px;
}

.header-content h1 span{
    color: rgb(121, 185, 0);
}

.header-content p{
    color: #fff;
    width: 60%;
}

.header-btns{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.header-btns button img{
    margin-top: 5px;
    margin-left: 5px;
}

.header-btns i{
    border-radius: 50%;
    background-color: rgb(121, 185, 0);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    animation: pluse 1s infinite linear alternate;
    cursor: pointer;
    transition: .6s;
}
.header-btns i:hover{
    background-color: rgba(0,128,0);
}
@keyframes pluse {
    0%{
        box-shadow: 0 0 0 20px rgba(255,255,255,0.1);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(255,255,255,0);
    }
}

.header-btns span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}





@media (max-width:1600px) {
    .social{
        left: -6%;
    }    
}

@media (max-width:1400px) {
    .navbar ul li a{
        font-size: 16px;
    }  
    .header-content{
        padding-left: 30px;
    }  
    .header-wrapper{
        background-position: top;
    }
}

@media (max-width:1100px) {
    .navbar ul{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        transition: .6s;
        background-color: rgba(0,0,0,1);
    }  
    .navbar ul li{
        display: block;
        margin: 8px 0;
        padding-left: 12% !important;
        padding: 20px 0;
    }
    .nav-btn{
        display: flex;
    }
    .navbar ul li a{
        color: rgb(121, 185, 0);
    }
    .navbar ul li a:hover{
        color: #fff;
    }
    .navbar .showmenu{
        left: 0;
    }
    .navbar .ri-menu-line{
        display: flex;
    }
    .social{
        left: -5%;
        margin-top: 25px;
    }
}
@media (max-width:900px) {
    .social{
        left: -15%;
    }
    .header-content p{
        width: 50%;
    }
    .header-content h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (max-width:768px){
    .header-content p{
        width: 90%;
    }
}

@media (max-width:500px){
    .header-content p{
        width: 90%;
    }
    .social{
        left: -25%;
    }
    .header-btns span{
        display: none;
    }
    .nav-btn i:nth-of-type(1){
        display: none;
    }
    .nav-btn i{
        margin-right: 0px;
    }
}

.about{
    justify-content: center;
    gap: 100px;
    background-image: url('https://github.com/perk-bevis/website_development/blob/main/assest/img/61108e2f-e30a-4e3f-84f6-95b557477893.jpg');
}
